body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5rem;
	color: rgb(50,50,50);
}

.main-container {
	background-color: white;
	width: 100vw;
	min-height: 100vh;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	img {
		transition: 2s;
		padding: 10px;
		border: dashed 1px rgba(0,0,0,1);
		border-radius: 50%;
		width: 200px;
		height: auto;
	}
	h1 {
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 10px 0;
	}
	&:hover {
		cursor: pointer;
		img {
			transition: 1s;
			width: 220px;
			padding: 5px;
			border-color: rgba(0,0,0,0);
		}
	}
	
}

.about-me, .school-container, .experience-container, .projects-container, .contact-container {
	display: none;
	width: 700px;
	padding: 10px;
	border-bottom: dashed 1px rgba(0,0,0,1);
	h1 {
		font-size: 1.5rem;
		text-transform: uppercase;
		border-bottom: dotted 1px rgba(0,0,0,1);
		padding: 10px 0;
	}
}

.fa-heartbeat {
	color: rgb(255, 101, 211);
}

.fa-book {
	color: rgb(153, 99, 0);
}

.fa-briefcase {
	color: rgb(100, 100, 100);
}

.fa-laptop {
	color: rgb(251, 90, 92);
}

.fa-phone {
	color: rgb(50, 108, 255);
}

.about-me {
	a {
		color: rgb(255, 101, 211);
		&:hover {
			color: purple;
		}
	}
	p {
		padding: 10px 0;
	}
	img {
		width: 100%;
	}
}

.school-container {
	a {
		color: rgb(153, 99, 0);
		&:hover {
			color: purple;
		}
	}
	h2 {
		font-size: 1.2rem;
	}
	#red-academy-logo {
		margin: 10px 0;
		height: 35px;
	}
	ul{
		padding: 10px 0 10px 40px;
		list-style: circle;
	}
	.skills { 
		width: 100%;
		display:flex;
		justify-content: center;
		align-items: center;
		img {
			width: 50px;
			height: auto;
		}
	}
	.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;
		p {
			padding: 10px;
		}
	}
	img.red-prom {
		width: 100%;
	}
}

.projects-container {
	.project {
		transition: 2s;
		padding: 20px 10px;
		margin: 50px 0;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		h2, h3, p {
			background: white;
			padding: 5px 20px 5px 20px;
			margin: 10px 0;
		}

		h2 {
			font-size: 1.7rem;
			color: black;
			text-transform: uppercase;
		}
		h3 {
			color: black;
		}
		a {
			color: rgb(251, 90, 92);
			&:hover {
				color: purple;
			}
		}
	}
}

.contact-container {
	a {
		color: rgb(50, 108, 255);
		&:hover {
			color: purple;
		}
	}
	p {
		padding: 10px;
	}
}
// backgrounds
	.aloha {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/aloha.png);
		background-position: top center;
		background-size: cover;
	}
	.nytimes {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/nytimes.png);
		background-position: top center;
		background-size: cover;
	}
	.pong {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/pong.png);
		background-position: top center;
		background-size: cover;
	}
	.mars {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/mars.png);
		background-position: top center;
		background-size: cover;
	}
	.inhabitent {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/inhabitent.png);
		background-position: top center;
		background-size: cover;
	}
	.thebixbook {
		background:	
				linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
				url(images/thebixbook.png);
		background-position: top center;
		background-size: cover;
	}
.navigation {
	padding: 20px 0;
	button {
		margin: 0 10px;
		background: none;
		border-width: 1px;
		padding: 10px;
		i {
			font-size: 1.2rem;
		}
		&:hover {
			cursor: pointer;
			background: black;
			i {
				color: white;
			}
		}
	}
}