/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  color: #323232; }

.main-container {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

.logo-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
  .logo-container img {
    transition: 2s;
    padding: 10px;
    border: dashed 1px black;
    border-radius: 50%;
    width: 200px;
    height: auto; }
  .logo-container h1 {
    text-transform: uppercase;
    padding: 10px 0; }
  .logo-container:hover img {
    transition: 1s;
    width: 220px;
    padding: 5px;
    border-color: transparent; }

.about-me, .school-container, .experience-container, .projects-container, .contact-container {
  display: none;
  width: 700px;
  padding: 10px;
  border-bottom: dashed 1px black; }
  .about-me h1, .school-container h1, .experience-container h1, .projects-container h1, .contact-container h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: dotted 1px black;
    padding: 10px 0; }

.fa-heartbeat {
  color: #ff65d3; }

.fa-book {
  color: #bc7700; }

.fa-briefcase {
  color: #646464; }

.fa-laptop {
  color: #fb5a5c; }

.fa-phone {
  color: #326cff; }

.about-me a {
  color: #ff65d3; }
  .about-me a:hover {
    color: purple; }

.about-me p {
  padding: 10px 0; }

.about-me img {
  width: 100%; }

.school-container a {
  color: #bc7700; }
  .school-container a:hover {
    color: purple; }

.school-container h2 {
  font-size: 1.2rem; }

.school-container #red-academy-logo {
  margin: 10px 0;
  height: 35px; }

.school-container ul {
  padding: 10px 0 10px 40px;
  list-style: circle; }

.school-container .skills {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .school-container .skills img {
    width: 50px;
    height: auto; }

.projects-container .project {
  transition: 2s;
  padding: 20px 10px;
  margin: 50px 0;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: center;
      align-items: center; }
  .projects-container .project h2, .projects-container .project h3, .projects-container .project p {
    background: white;
    padding: 5px 20px 5px 20px;
    margin: 10px 0; }
  .projects-container .project h2 {
    font-size: 1.7rem;
    color: black;
    text-transform: uppercase; }
  .projects-container .project h3 {
    color: black; }
  .projects-container .project a {
    color: #fb5a5c; }
    .projects-container .project a:hover {
      color: purple; }

.contact-container a {
  color: #326cff; }
  .contact-container a:hover {
    color: purple; }

.contact-container p {
  padding: 10px; }

.aloha {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/aloha.png);
  background-position: top center;
  background-size: cover; }

.nytimes {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/nytimes.png);
  background-position: top center;
  background-size: cover; }

.pong {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/pong.png);
  background-position: top center;
  background-size: cover; }

.mars {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/mars.png);
  background-position: top center;
  background-size: cover; }

.inhabitent {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/inhabitent.png);
  background-position: top center;
  background-size: cover; }

.thebixbook {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/thebixbook.png);
  background-position: top center;
  background-size: cover; }

.navigation {
  padding: 20px 0; }
  .navigation button {
    margin: 0 10px;
    background: none;
    border-width: 1px;
    padding: 10px; }
    .navigation button i {
      font-size: 1.2rem; }
    .navigation button:hover {
      cursor: pointer;
      background: black; }
      .navigation button:hover i {
        color: white; }
